<p><%= link_to "一覧編集", products_path %></p>

<table class="table parts-list table-responsive table-hover">
  <thead>
    <tr>
      <th class="parts-list">型式</th>
      <th class="parts-list"></th>
      <th class="parts-list">シリアル番号</th>
    </tr>
  </thead>
  <% @products.each do |product| %>
    <tbody>
      <tr>
        <td class="parts-list"><%= product.name %></td>
        <td class="parts-list"><%= link_to "", product.url, target: :_blank, class: "fas fa-file-pdf fa-lg" %></td>
        <td class="parts-list"><%= product.serial %></td>
      </tr>
    </tbody>
  <% end %>
</table>
