@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

@media screen and (max-width: 959px) {
  /* 959px以下に適用されるCSS（タブレット用） */
  .pc-display {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  .pc-display {
    display: none;
  }
}

.navbar-right {
  a {
    color: #fff;
  }
  background-color: #2E3F66;
}

.navbar-nav > li > a:hover {
  background-color: #2E3F66;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.btn-secondary {
  background-color: #2E3F66;
  border-color: #2E3F66;
  color: #fff;
}

.btn-secondary:hover {
  color: #fff;
  opacity: .6;
}

.facebook-btn {
  background-color: #3B5998;
  border: #3B5998;
}

.facebook-btn:hover {
  background-color: #3B5998;
  border: #3B5998;
  opacity: .6;
}

.twitter-btn {
  background-color: #1DA1F2;
  border: #1DA1F2;
  margin-top: -70px;
}

.twitter-btn:hover {
  background-color: #1DA1F2;
  border: #1DA1F2;
  opacity: .6;
}

.google-btn {
  background-color: #EA4335;
  border: #EA4335;
  margin-top: -110px;
}

.google-btn:hover {
  background-color: #EA4335;
  border: #EA4335;
  opacity: .6;
}

.reset-btn {
  margin-top: 10px;
}

.reset-form {
  font-size: 1.5vh;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1, h3 {
  // font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.devise-links {
  margin-bottom: 10px;
}

.devise-new {
  margin-bottom: 20px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  // text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* flash */

.notice {
  color: white;
  background-color: #28a745;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert {
  color: white;
  background-color: #dc3545;
}