// table.parts-list {
//   font-size: 40px;
//   th.parts-list, td.parts-list {
//     border-bottom: solid 3px;
//     height: 150px;
//   }
// }

.fa-file-pdf {
  color: red;
}

.table > tbody > tr > td.search-none-message {
  border-top: 0;
  animation: none;
  .fa-lg {
    vertical-align: -.15em;
    color: red;
    text-decoration: none;
  }
}

.table > tbody > tr > td.search-none-message:hover {
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 0;
  }
}

.search-form {
  margin: 10px 0 20px -15px;
}

.paginate-parts-list {
  margin: -9px 0 0 -14px;
}

// .parts-input {
//   transform: scale(1, 2);
//   margin-top: 50px;
// }

// .parts-list-message {
//   margin-top: 50px;
// }

// @media (min-width: 1000px)
// {
//   table.parts-list {
//     font-size: medium;
//     th.parts-list, td.parts-list {
//       border-bottom: solid 0;
//       height: 0;
//     }
//   }
  
//   .fa-file-pdf {
//     color: red;
//   }

//   .parts-input {
//     transform: scale(1, 1);
//   }

//   .parts-list-message {
//     margin-top: 150px;
//   }
// }
