/* _form */

.label-new {
  margin-top: 5px;
}

.btn-new {
  margin-top: 10px;
}

.btn-toolbar {
  margin: 20px 0 50px 0;
}

/* index */

.btn-product-new {
  margin-bottom: 10px;
}

.fa-plus-circle {
  color: #28a745;
}

.fa-plus-circle:hover {
  color: #28a745;
  text-decoration: none;
}

.fa-plus-circle:focus {
  color: #28a745;
  text-decoration: none;
}

.fa-times-circle {
  color: #dc3545;
}

.fa-times-circle:hover {
  color: #dc3545;
  text-decoration: none;
}

.fa-times-circle:focus {
  color: #dc3545;
  text-decoration: none;
}

.fa-edit {
  color: #28a745;
}

.fa-edit:hover {
  color: #28a745;
  text-decoration: none;
}

.fa-edit:focus {
  color: #28a745;
  text-decoration: none;
}