.table-users {
  th {
    text-align: center;
  }
}

.btn-del {
  border: 0px none;
  background-color: #fff;
  color: red;
  outline:0;
}

.btn-del:hover {
  border: 0px none;
  background-color: #fff;
  outline:0;
}

.btn-del:focus {
  border: 0px none;
  background-color: #fff;
  outline:0;
}

.btn-del:visited {
  border: 0px none;
  background-color: #fff;
  outline:0;
}

/* users/sign_up */

.signup-new {
  margin-bottom: 20px;
}