.table-users {
  th {
    text-align: center;
    font-size: small;
  }
  td {
    font-size: small;
  }
}

.btn-del {
  border: 0px none;
  background-color: #fff;
  color: #dc3545;
  outline:0;
}

.btn-del:hover {
  border: 0px none;
  background-color: #fff;
  outline:0;
}

.btn-del:focus {
  border: 0px none;
  background-color: #fff;
  outline:0;
}

.btn-del:visited {
  border: 0px none;
  background-color: #fff;
  outline:0;
}

/* users/sign_up */

.signup-new {
  margin-bottom: 20px;
}